@import "tailwindcss";
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@layer components {
  .custom-container {
    @apply container mx-auto px-4 sm:px-6 lg:px-20;
  }
}

body {
  background-color: rgb(249, 246, 236);
}
@layer components {
  .custom-section {
    @apply container mx-auto px-3 sm:px-6 lg:px-80;
  }
}
@layer components {
  .modal-close-btn {
    @apply absolute top-3 right-3 text-gray-500 hover:text-gray-700 text-2xl;
  }
}
